body {
    background-color: #343a40;
}

h3 {
    color: rgb(240, 236, 245);
    font-size: 50px;
    font-weight: lighter;
    font-style: italic;
}

h1 {
    color: rgb(240, 236, 245);
    font-weight: bold;
    font-style: italic;
}

p {
    color: rgb(240, 236, 245);
    font-size: 30px;
    font-weight: lighter;
    font-style: italic;
}

a {
    color: rgb(240, 236, 245);
    font-weight: bold;
    font-style: italic;
}

label {
    color: rgb(240, 236, 245);
    font-weight: bold;
    font-style: italic;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}